/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li,
ol li {
    text-decoration: none;
    list-style: none;
}

ul a,
ol a {
    text-decoration: none;
    color: black;
}

/*HEADER*/
header {
    border: dotted red 2px;
    width: 100%;
    top: 0;
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.logo {
    border: yellowgreen solid 1px;
    display: contents;
}

.logo > img {
    border: dotted blue 2px;
    width: 13vw;
    height: auto;
    margin-left: 5rem;
}

/*NAVBAR*/
nav {
    border: dotted yellow 2px;
    width: 50%;
    height: 10vh;
    margin-right: 1rem;
    display: flex;
}

nav > ul {
    border: solid paleturquoise 1px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav > ul > li {
    border: solid red 1px;
    width: 25%;
    text-align: center;
}

nav > ul > li > a {
    border: solid whitesmoke 1px;
    width: 100%;
    color: #e5e7eb;
    font-size: 18px;
} 

/*HERO SECTION*/
.hero {
    border: dotted red 2px;
    margin-top:7rem;
    width: 100%;
    height: 60vh;
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.hero__header {
    border: solid whitesmoke 1px;
    width: 40%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.hero__header > h1 {
    border: solid red 1px;
    width: 80%;
    text-align: start;
    color: #f9faf8;
    font-size: 3rem;
    font-weight: 900;
}

.hero__header > p {
    border: solid purple 1px;
    width: 90%;
    text-align: start;
    margin-top: 0.5rem;
    color: #e5e7eb;
    font-size: 18px;
}

.btn {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    margin-top: 1rem;
    width: 20%;
    padding: 0.6rem;
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 1rem;
    font-weight: 700;
}

.btn:hover {
    background-color: #1866f8;
    transition: 1s
}

.hero__img {
    border: solid whitesmoke 1px;
    display: contents;
}

.hero__img > img {
    border: solid whitesmoke 1px;;
    width: 40%;
    height: 35vh;
    object-fit: contain;
}

/*INFO SECTION*/
.info {
    border: dotted red 2px;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    gap: 10px;
}

.info > h2 {
    border: solid purple 1px;
    width: 100%;
    margin-top: 3rem;
    text-align: center;
    font-size: 2.5rem;
    color: #1f2937;
    font-weight: 900;
}

.card-container {
    border: solid blue 1px;
    width: 90%;
    height: 50vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.info__card  {
    border: solid green 1px;
    width: 40%;
    height: 40vh;
    display: flex;
    margin: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
}

.info__card > img {
    border: solid #3882f6 4px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.info__card > figcaption {
    border: solid red 1px;
    width: 70%;
    text-align: center;
    color: #1f2937;
    font-size: 1rem;
    font-weight: 400;
}

/*QUOTE SECTION*/
.quote {
    border: dotted red 2px;
    background-color: #e5e7eb;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote__text {
    border: solid blue 1px;
    width: 60%;
    color: #1f2937;
    font-size: 2.15rem;
    font-style: italic;
    font-weight: 300;
    text-align: start;
}

.quote__auth {
    border: solid green 1px;
    width: 60%;
    text-align: end;
    font-size:  1.8rem;
    font-weight: 500;
    color: #1f2937;
}

/*CTA*/
.cta {
    border: dotted red 2px;
    width: 100%;
}